html{
    background-color: rgb(214, 214, 214);

}

section{
    display:flex;
    background-color: rgb(247, 247, 247);
    width: 500px;
    height: 300px;
    position: absolute;
    margin: auto;
    padding:20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
 }

button{
   background-color: rgb(211, 33, 71);
   font-size: 20px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

button:nth-of-type(1) {
    flex: 1;
}

button:nth-of-type(2) {
    flex: 1;
}

button:nth-of-type(3) {
    flex: 1;
}

button:nth-of-type(4) {
    flex: 1;
}

button:nth-of-type(5) {
    flex: 1;
}

